div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 30px auto;
}

a {
    margin-bottom: 20px;
}

/* table */
table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

form {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 10px;
}

input {
  margin: 5px;
}

label {
  margin: 10px;

}

button {
  width: fit-content;
  margin: 20px auto;
}

form.numberArray {
  display: flex;
  margin-bottom: 0;
}

.arrInput {
  display: block;
  margin: 15px auto;
  width: 100%;
}